h1{
    color:#9b59b6;
}

p{
    size:16px;
    font-family: verdana;
    font-style:italic;
}

.sub-header{
    color:#2980b9;
}
p::first-letter{
    forn-size:200%;
    color:#2980b9;
}
h1::before{
    content:"Topic: ";
}
.middle{
    text-align:center;
}