.box{
    width:100px;
    height:100px;
    background-color: black;
}
.bigbox{
    width:200px;
    height: 200px;
    background-color: gray;
}
.graybox{
    width:100px;
    height:100px;
    background-color:gray;
}
.bigbigbox{
    width:300px;
    height: 150px;
    background-color: gray;
}
.mother{
    color:white;
}
.mother1{
    display:flex;
    justify-content:flex-end;
}
.one_div1{
    justify-self:flex-start;
}
.mother2{
    display:flex;
}