.box{
    width:100px;
    height:100px;
    background-color: black;
}
.bigbox{
    width:200px;
    height: 200px;
    background-color: gray;
}
.graybox{
    width:100px;
    height:100px;
    background-color:gray;
}
.bigbigbox{
    width:400px;
    height: 150px;
    background-color: gray;
    position:absolute;
    right:0px;
    bottom:0px;
}
.mother{
    color:white;
}
.mother1{
    display:flex;
    justify-content:space-between;
}
.sub_main{
    display:flex;
}
.one_div{
    margin-right:5px;
}
.mother2{
    display:flex;
    flex-direction: column;
}
.box_center{
    align-self:center;
}
.box_end{
    align-self:flex-end;
}
.mother3{
    display:flex;
    justify-content: center;
}
.three_box{
    position:absolute;
    left:50px;
    top:50px;
}
.four_box{
    position:relative;
    left:50px;
    top:-50px;
}
.five_div2{
    position:absolute;
    bottom:0;
    left:0;
}
.five_div3{
    position:absolute;
    top:0;
    right:0;
}