.box{
    width:100px;
    height:100px;
    background-color: black;
}
.mother{
    color:white;
}
.mother1{
    display:flex;
    justify-content:flex-end;
}
.one_div1{
    order: -100px;
}
.mother2{
    display:flex;
}