body{
    margin:0px;
}
.nav{
    height:80px;
    background-color: black;
    color:white;
    justify-content: space-around;
}
.first_ritem{
    padding:28px 17px;
    font-weight: 700;
}
.main{
    height:967.99px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
}
.footer{
    height:529.99;
    background-color: black;

}